<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <link rel="stylesheet" href="assets/css/style.css">
  <title>IPS FAQ</title>

<link rel="icon" href="/images/previmg.ico">
 
</head>
<body>
<header class="cd-header flex flex--column flex--center" style ="background-color:#0E7EE1;">
  <div class="text-component text--center" >
  	<h1 style=" font-family:Arial;">AÖS Sistemi ilə bağlı tez-tez verilən suallar</h1>
  </div>
</header>

<section class="cd-faq js-cd-faq container container--md margin-top--lg margin-bottom--lg">
	<ul class="cd-faq__categories" style="width:23%;">
		<li><a class="cd-faq__category cd-faq__category-selected truncate" style="font-family:Arial;" href="#basics">Ümumi Suallar</a></li>
		<li><a class="cd-faq__category truncate" style="font-family:Arial;" href="#legal">Qanunvericilik bazası</a></li>
		<li><a class="cd-faq__category truncate" style="font-family:Arial;" href="#limits">Xidmət haqqları, limitlər</a></li>
		<li><a class="cd-faq__category truncate" style="font-family:Arial;" href="#cards">Ödəniş kartlarından istifadə</a></li>
		<li><a class="cd-faq__category truncate" style="font-family:Arial;" href="#return">Əməliyyatın geri qaytarılması</a></li>
		<li><a class="cd-faq__category truncate" style="font-family:Arial;" href="#fraud">Fraud Management</a></li>
		<li><a class="cd-faq__category truncate" style="font-family:Arial;" href="#auth">Autentifikasiya və avtorizasiya</a></li>
		<li><a class="cd-faq__category truncate" style="font-family:Arial;" href="#qr">QR Code ödənişləri</a></li>
	</ul> <!-- cd-faq__categories -->

	<div class="cd-faq__items">
		<ul id="basics" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Ümumi Suallar</h2></li>
			
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="font-family:Arial;font-size:20px;color:#0E7EE1;">anipay.az/documents internet resursunda sənədlər çoxdur. Hansıları analiz etmək lazım olduğu çətin anlaşılır.</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p style="font-family:Arial;font-size:20px;">İnternet resursundakı sənədləri analiz etmək üçün "Sənədlərdən istifadə üzrə bələdçi" (anipay.az/documents maddə - a.) ilə tanış olmaq lazımdır. Yalnız seçilən inteqrasiya metodları və mesaj formatlarına uyğun sənədlərdən istifadə edilməsi tövsiyə olunur.  </p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
			
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="font-family:Arial;font-size:20px;color:#0E7EE1;">Sistemdən kimlər istifadə edə biləcəkdir?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p style="font-family:Arial;font-size:20px;">Sistemdən həm Fiziki, həm də Hüquqi şəxslər istifadə edə biləcəklər. </p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="font-family:Arial;font-size:20px;color:#0E7EE1;">CAS-da qeydiyyatı olmayan müştəri bu sistem üzrə köçürmə göndərə və ya qəbul edə biləcəkdirmi?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
			<p style="font-family:Arial;font-size:20px;">İştirakçı təşkilat, CAS-da qeydiyyatda olmayan ödəyən və vəsaiti qəbul edən üzrə bütün zəruri rekvizitləri formalaşdıraraq, CAS-a müraciət etmədən birbaşa ödənişləri həyata keçirə bilər.
			</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="font-family:Arial;font-size:20px;color:#0E7EE1;">Sistemdə büdcəyə ödənişlər də nəzərdə tutulmuşdurmu?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
			<p style="font-family:Arial;font-size:20px;">Sistemdə büdcə ödənişlərinin aparılmasına məhdudiyyət qoyulmayacaqdır.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
			
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="font-family:Arial;font-size:20px;color:#0E7EE1;">Elektron pul ödəniş alətini təqdim edən təşkilatlar bu ödəniş sisteminə inteqrasiya ediləcəkmi, ediləcəkdirsə onlar vasitəsi ilə nağd pulun qəbulu ilə aparılan ödəniş əməliyyatlarının real vaxt rejimində emalı nəzərdə tutulurmu?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
			<p style="font-family:Arial;font-size:20px;">Sistemdə Qeyri-bank Ödəniş Xidməti Təchizatçılarının iştirakı üçün xüsusi funksional imkanlar nəzərdə tutulmuşdur. </p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
			
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="font-family:Arial;font-size:20px;color:#0E7EE1;">Bank iştirakçı olaraq sistemə inteqrasiya edəcək bank hesablarını müstəqil qaydada müəyyən edə bilərmi?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
			<p style="font-family:Arial;font-size:20px;">Banklar müştərilər üçün açılmış hesabları onların istəyi ilə AÖS-də qeydiyyatdan keçirməlidirlər. Eyni zamanda bankların E-Banking, M-Banking isifadəçisi olan müştərilər üçün bu resursların interfeysində hesabların AÖS-də qeydiyyatdan keçirilməsi üçün funksional imkanlar yaratmaları zəruri şərtdir.
			</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
			
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="font-family:Arial;font-size:20px;color:#0E7EE1;">Sistemdə aparılan hər bir əməliyyat üzrə məlumatların saxlanılması necə təmin ediləcəkdir?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
			<p style="font-family:Arial;font-size:20px;">Əməliyyat tarixçəsi 5 il müddətinə istifadəçilər üçün əlçatan vəziyyətdə saxlanılacaqdır.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
			
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="font-family:Arial;font-size:20px;color:#0E7EE1;">AÖS sistemində olan əməliyyatlar üzrə hesabların qalığının online dəyişməsi tələbi mütləqdirmi?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
			<p style="font-family:Arial;font-size:20px;">AÖS-ə inteqrasiya ediləcək təşkilatların Avtomatlaşdırılmış Bank Sistemləri (ABS)  24/7/365 rejimində əməliyyatları emal edə bilməlidir.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
			
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="font-family:Arial;font-size:20px;color:#0E7EE1;"> Sistemdə aparılacaq yenilənmələr zamanı bank tərəfindən bu yenilənmələrdə gecikmələr baş verdikdə proses necə tənzimlənəcəkdir?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
			<p style="font-family:Arial;font-size:20px;">Sistemdə iştirakçı təşkilatların fəaliyyətinə təsir edəcək yenilənmələrin tətbiqi mütləq əvvəlcədən məlumat verilməklə, icra müddətləri müəyyənləşdirilməklə həyata keçiriləcəkdir. Bu müddətlərə əməl etməyən banklar yenilənmənin sirayət etdiyi əməliyyatlar üzrə problem yaşaya bilərlər.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
			
			
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="font-family:Arial; font-size:20px;color:#0E7EE1;">Sistemdən istifadə ilə bağlı vətəndaşların sorğu və suallarının cavablandırılması üçün Mərkəzi Bankda mərkəzləşdirilmiş qaydada qaynar xətt formalaşdırılacaqmı?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
			<p style="font-family:Arial;font-size:20px;">Sistemdə aparılmış əməliyyatlar üzrə yaranan suallar əsasən müştərilərə xidmət göstərən bankların müvfaiq xidmətləri tərəfindən cavablandırılmalıdır. Eyni zamanda AÖS-ün internet resursunda müştərilər üçün online müraciət paneli yaradılacaqdır.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
			
		</ul> <!-- cd-faq__group -->

		<ul id="legal" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Qanunvericilik bazası</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="font-family:Arial;font-size:20px;color:#0E7EE1;">Sistemdə aparılacaq əməliyyatların “Nağdsız hesablaşmalar haqqında” Azərbaycan Respublikasının Qanununa uyğunluğu necə təmin ediləcəkdir?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p style="font-family:Arial;font-size:20px;">İstər elektron qaydada müştərilərə təqdim olunmuş uzaqlaşdırılmış iş yerlərindən (E-banking, M-banking), istərsə də filial və şöbələrdə kağız daşıyıcılarda qəbul edilən ödəniş tapşırıqları əsasında AÖS-də həyata keçirilən əməliyyatların qeyd olunan Qanunun tələblərinə uyğunluğu bankın ABS-də yoxlanılmalıdır.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
			
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="font-family:Arial;font-size:20px;color:#0E7EE1;">Sistem vasitəsilə ödəniş əməliyyatlarının aparılması zamanı “Cinayət yolu ilə əldə edilmiş pul vəsaitlərinin və ya digər əmlakın leqallaşdırılmasına və terrorçuluğun maliyyələşdirilməsinə qarşı mübarizə haqqında” Azərbaycan Respublikasının Qanununun tələbləri necə gözləniləcəkdir?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p style="font-family:Arial;font-size:20px;">Qeyd olunan Qanunun tələblərindən irəli gələn işlər, o cümlədən AML üzrə yoxlama bankın ABS-nin avtomatlaşdırılmış funksiyası vasitəsilə icra edilməlidir. Qanunun 11-ci Maddəsinin alt bəndlərinə və 7.3.1 bəndinə istinad edilməklə bu proses avtomatlaşdırılmalı və AÖS tələblərinə uyğun vaxtda avtorizasiyanın təmin edilməsinə nail olunmalıdır.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
			
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="font-family:Arial;font-size:20px;color:#0E7EE1;">Azərbaycan Respublikasının Maliyyə Monitorinqi Xidməti tərəfindən təsdiq edilmiş sanksiyalar tətbiq edilməli olan şəxslərin və siyasi xadimlərin siyahıları üzrə yoxlamalar sistemdə necə təmin ediləcəkdir? </span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p style="font-family:Arial;font-size:20px;">“Cinayət yolu ilə əldə edilmiş pul vəsaitlərinin və ya digər əmlakın leqallaşdırılmasına və terrorçuluğun maliyyələşdirilməsinə qarşı mübarizə haqqında Qanun”un tələblərindən irəli gələn işlər, o cümlədən AML üzrə yoxlama bankın ABS-nin avtomatlaşdırılmış funksiyası vasitəsilə icra edilməlidir. Qanunun 11-ci Maddəsinin alt bəndlərinə və 7.3-1 bəndinə istinad edilməklə bu proses avtomamtlaşdırılmalı və AÖS tələblərinə uyğun vaxtda avtorizasiyanın təmin edilməsinə nail olunmalıdır.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
			
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="font-family:Arial;font-size:20px;color:#0E7EE1;">Bank vasitəsilə edilən AÖS ödənişləri imzalı ödəniş tapşırığı olmadan icra edilə biləcək mi? İmzalı ödəniş tapşırığı olmasa, onda müştəri Banka hansı formada vəsaitin köcürülməsi barədə sərəncam verəcəkdir?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p style="font-family:Arial;font-size:20px;">a) Uzaqlaşdırılmış iş yerləri vasitəsilə elektron formada qəbul edilən ödənişlər “Azərbaycan Respublikasında nağdsız hesablaşmalar və pul köçürmələri haqqında Təlimat”-ın 4.17, 4.18 maddələrində müəyyənləşdirilmiş çərçivədə icra edilməlidir.</p>
         <p style="font-family:Arial;font-size:20px;">   b) Filial və şöbələrdə kağız daşıyıcıda qəbul edilən ödəniş tapşırıqları əsasında həyata keçirilən ödənişlər ABS-in AÖS-ə interqasiya olunmuş interfeysi vasitəsilə həyata keçirilməlidir. </p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
			
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="font-family:Arial;font-size:20px;color:#0E7EE1;">Hüquqi şəxslər tərəfindən bu ödəniş sisteminin imkanlarından istifadə zamanı müqavilə, gömük bəyənnaməsi tələb edən və ya birinci və ikinci imzanın təmin edilməsini tələb edən ödəniş əməliyyatları necə təsdiq ediləcəkdir?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p style="font-family:Arial;font-size:20px;">Uzaqlaşdırılmış iş yerləri vasitəsilə elektron formada qəbul edilən ödənişlər “Azərbaycan Respublikasında nağdsız hesablaşmalar və pul köçürmələri haqqında Təlimat”-ın 4.17, 4.18 maddələrində müəyyənləşdirilmiş çərçivədə icra edilməlidir.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

		</ul> <!-- cd-faq__group -->

		<ul id="limits" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Xidmət haqqları, limitlər</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="font-family:Arial;font-size:20px;color:#0E7EE1;">Sistemdə emal olunan ödəniş əməliyyatlarında hansı xidmət haqları tətbiq ediləcəkdir? Xidmət haqları müəyyən edildiyi təqdirdə ödəniş kartları ilə aparılan əməliyyatlarda tətbiq edilən “interchange” xidmət haqları necə tənzimlənəcəkdir?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p style="font-family:Arial;font-size:20px;">Ödəniş əməliyyatları üzrə xidmət haqqı tətbiq olunacaqdır. Hal-hazırda bu sahədə beynəlxalq təcrübə qiymətləndirilir. Nəticədə istifadəçilər və iştirakçı banklar üçün kifayət qədər əlverişli olan tariflər müəyyənləşdiriləcəkdir. 
Eyni zamanda bu tariflərdə ekvayrinq şəbəkəsindən müştərək istifadələr zamanı banklararası xidməthaqqları (interchange) da nəzərdə tutulacaqdır. </p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
			
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="font-family:Arial;font-size:20px;color:#0E7EE1;">Beynəlxalq təcrübədə bu növ ödəniş sistemlərində aparılan ödəniş əməliyyatlarının məbləği üzrə bir qayda olaraq sistem operatoru tərəfindən vahid limitlər müəyyən edilir. Bu ödəniş sistemində əməliyyatın məbləği üzrə hansı limitlər müəyyən ediləcəkdir?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p style="font-family:Arial;font-size:20px;">Sistemdə XÖHKS-ə analoji qaydada limit tətbiq olunacaqdır. Limitin konkret qiyməti isə layihənin icrası üzrə növbəti mərhələlərdə müəyyənləşdiriləcəkdir.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
			
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="font-family:Arial;font-size:20px;color:#0E7EE1;">Sistemin istifadəçisi mobil tətbiq və ya digər vasitələrlə öz hesablarına məhdudiyyət və ya limitlər tətbiq edə biləcəkmi? </span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p style="font-family:Arial;font-size:20px;">Təşkilatlar öz müştəriləri üçün mobil və internet bankinqlərində məhdudiyyətlər tətbiq edə bilərlər.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
			
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="font-family:Arial;font-size:20px;color:#0E7EE1;">Sistem iştirakçısı olan banklar aparılan əməliyyatlar üzrə məhdudiyyətləri və ya limitləri (məs. bankomat üzərindən nağdlaşdırma əməliyyatlarına) tətbiq edə biləcəkdirmi?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p style="font-family:Arial;font-size:20px;">Bəli, tətbiq edə bilərlər.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
			
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="font-family:Arial;font-size:20px;color:#0E7EE1;">Nəzarətedici orqanların (Azərbaycan Respublikası Mərkəzi Bankı və ya Maliyyə Bazarlarına Nəzarət Palatası və s. kimi) və bankın daxili qaydalarında nəzərdə tutulan əməliyyat limitləri və onların tətbiqinə nəzarət hansı tərəfdə tənzimlənəcəkdir?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p style="font-family:Arial;font-size:20px;">Sistemdə hər bir əməliyyat tranzaksiyası üzrə ümumi limit müəyyənləşdiriləcəkdir. Eyni zamanda banklar tərəfindən də daxili qaydalar əsasında limitlər tətbiq edilə bilər.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
	
		</ul> <!-- cd-faq__group -->
		
		<ul id="cards" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Ödəniş kartlarından istifadə</h2></li>
	
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="font-family:Arial;font-size:20px;color:#0E7EE1;">Ödəniş kartı ilə bu sistem üzərindən əməliyyatların aparılması nəzərdə tutulurmu ? </span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p style="font-family:Arial;font-size:20px;">Ödəniş kartları ilə AÖS-də əməliyyatların aparılması nəzərdə tutulmur.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
			
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="font-family:Arial;font-size:20px;color:#0E7EE1;">Sistem üzərindən aparılan əməliyyatların birbaşa bank hesabı üzərindən emal olunduğunu nəzərə alsaq, ödəniş kartına bağlı hesablar vasitəsi ilə sistemdə əməliyyatlar aparılacaqmı? </span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p style="font-family:Arial;font-size:20px;">Ödəniş kartları ilə AÖS-də əməliyyatların aparılması nəzərdə tutulmur. Lakin  ödəniş karta bağlı olan IBAN hesablar vasitəsi ilə əməliyyatlar həyata keçirilə bilər. Bu zaman bankın ABS ilə Kart Təşkilatının prosessinq sistemi arasında real rejimdə sinxronizasiya təmin olunmalıdır.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
			
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="font-family:Arial;font-size:20px;color:#0E7EE1;">Əvvəlcədən ödənilmiş kartlar konsolidə olunmuş bank hesablarına, bir sıra banklarda isə əmək haqqı layihələri texniki hesablara bağlanılmışdır. Bu halda bu bank hesabları ilə AÖS sistemi üzərindən əməliyyatların aparılması necə təmin ediləcəkdir?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p style="font-family:Arial;font-size:20px;">AÖS-də bu tipli kart hesabları ilə ödənişlərin həyata keçirilməsi nəzərdə tutulmur.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
	
		</ul> <!-- cd-faq__group -->
		
		<ul id="return" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Əməliyyatın geri qaytarılması</h2></li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="font-family:Arial;font-size:20px;color:#0E7EE1;">Əməliyyatının aparılması zamanı hər hansı bir texniki problemlə bağlı sistemin davranışı necə olacaqdır?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p style="font-family:Arial;font-size:20px;">Belə problemlər baş verdikdə sistemə “return” sorğusu göndərilə bilər.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
			
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="font-family:Arial;font-size:20px;color:#0E7EE1;">Sistemdə emal olunan ödəniş əməliyyatları üzrə səhv ödənişlərin geri çağırılması necə təmin ediləcəkdir?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p style="font-family:Arial;font-size:20px;">Müxtəlif kanallardan Recall (geri çağrılma) etməklə bərabər, bank tərəfindən müştərinin razılığı əsasında birbaşa Return (geri qaytarmaq) prosedurunun inisasiyası mümkün olacaqdır.

Return və ya Recall -a imtina olunarsa əməliyyat Mübahisəli halların idarə edilməsi üzrə prosedur qaydalar çərçivəsində həll ediləcəkdir. </p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
			
	
		</ul> <!-- cd-faq__group -->
		
		<ul id="fraud" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Fraud Management</h2></li>			
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="font-family:Arial;font-size:20px;color:#0E7EE1;">Sistemdən istifadə üzrə baş verə biləcək fırıldaqçılıq hallarına nəzarət və risklərin qarşısının zamanında alınması necə təmin ediləcəkdir?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p style="font-family:Arial;font-size:20px;">Sistemdə Fraud Management modulu nəzərdə tutulmuşdur.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
			
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="font-family:Arial;font-size:20px;color:#0E7EE1;">Anti-Fraud ssenarilərin hazırlanması və icrasında Banklar hansı səviyyədə iştirak edəcək?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p style="font-family:Arial;font-size:20px;">Anti-Fraud ssenarilərin hazırlanmasında bankların iştirakı nəzərdə tutulur. Layihənin icrası çərçivəsində kordinatorlara müraciət olunacaqdır və aidiyyatı mütəxəssislərin iştirakı təmin olunmaqla təkliflər alınacaqdır.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
	
		</ul> <!-- cd-faq__group -->
		
		<ul id="auth" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Autentifikasiya və avtorizasiya</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="font-family:Arial;font-size:20px;color:#0E7EE1;"> Sistemdə keçirilən əməliyyatlar üzrə istifadəçilərin autentifikasiyasında  hansı metodlardan istifadə olunacaqdır ? </span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p style="font-family:Arial;font-size:20px;">İstifadəçilərin autentifikasiyası bank tərəfdə və ya AÖS tərəfdə TOTP, Push mobile, Push USSD kimi metodlardan istifadə olunmaqla icra olunacaqdır. 
Autentifikasiya metodları ilə daha ətraflı “AZ IPS Authentication module REST API specification” sənədində tanış olmaq mümkündür.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
			
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="font-family:Arial;font-size:20px;color:#0E7EE1;">Benefisiar bankın icazəsi olmadan əməliyyatların sistemdən uğurla keçirilməsi mümkün olacaqmı?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p style="font-family:Arial;font-size:20px;">Layihənin 1-ci mərhələsində bu tipli əməliyyatların aparılması mümkün olmayacaqdır. Bütün əməliyyatlar benefisiar bankın təstiqi ilə tamamlanacaqdır.  
Lakin Layihənin 2-ci mərhələsində isə müvafiq modulun yaradılması çərçivəsində həll təklif olunacaqdır. Bu modulun imkanlarından istifadə etməklə banklar əvvəlcədən seçilmiş müştəriləri üçün müəyyən şərtlər daxilində avtorizasiyasız əməliyyatların aparılmasını sifariş verə biləcəklər. Bu tipli müştəriər üçün müəyyənləşdirilmiş kriteriyalar çərçivəsində əməliyyatların aparılması anında Benefisiar bank tərəfindən avtorizasiya tələb olunmayacaqdır. </p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
			
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="font-family:Arial;font-size:20px;color:#0E7EE1;">Ödənişlərin aparılması zamanı istifadə edilən mobil telefonun həmin müştəriyə aid olması necə yoxlanılacaqdır?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p style="font-family:Arial;font-size:20px;">Layihənin ilkin mərhələsində məhdudiyyətlər yaratmamaq üçün müştəri tərəfindən banka təqdim olunan telefon nömrəsinin həmin müştəriyə bağlanması sadəcə birdəfəlik şifrə göndərilməklə həll olunacaqdır. Sonrakı mərhələlərdə təqdim olunan telefon nömrəsinin müştəriyə aid olması müvafiq rəsmi resursdan istifadə olunmaqla yoxlanıla biləcəkdir. </p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
			
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="font-family:Arial;font-size:20px;color:#0E7EE1;">Hesabdan məsafədən istifadə edilməsini nəzərə alsaq bu halda gücləndirilmiş elektron imza necə tətbiq ediləcəkdir? </span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p style="font-family:Arial;font-size:20px;">Uzaqlaşdırılmış iş yerləri vasitəsilə elektron formada qəbul edilən ödənişlər “Azərbaycan Respublikasında nağdsız hesablaşmalar və pul köçürmələri haqqında Təlimat”-ın 4.17, 4.18 maddələrində müəyyənləşdirilmiş çərçivədə icra edilməlidir.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
			
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="font-family:Arial;font-size:20px;color:#0E7EE1;"> İstifadəçilərin eyniləşdirilməsi necə təşkil ediləcəkdir?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p style="font-family:Arial;font-size:20px;">Sistemdən qeydiyyat zamanı fiziki şəxslər “Giriş-Çıxış” İAMAS, hüquqi şəxslər isə AVİS-də identifikasiya olunacaqlar və qeydiyyatdan keçirilmiş istifadəçilər üzrə məlumatlar Mərkəzi Məlumat Bazasında (Central Addressing Sheme) saxlanılacaqdır. Bundan sonra müxtəlif identifikasiya metodlarından (IPSID, nationalID, mobile nömrə, e-mail) istifadə etməklə Mərkəzi Məlumat Bazasından müştəri üzrə məlumatlar dəqiqləşdirilərək əməliyyatlar həyata keçirilə bilinəcəkdir.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
	
		</ul> <!-- cd-faq__group -->
		
		<ul id="qr" class="cd-faq__group">
			<li class="cd-faq__title"><h2>QR Code ödənişləri</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="font-family:Arial;font-size:20px;color:#0E7EE1;">QR code vasitəsi ilə ödəniş mövcud POS-terminallarda necə tətbiq ediləcəkdir? QR-code POS-terminalın ekranından yoxsa çekin üzərindən oxudulucaqdır?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p style="font-family:Arial;font-size:20px;">QR ödənişləri iki formada aparıla bilər:</p>
 <p style="font-family:Arial;font-size:20px;">1. Nəzarət kassa aparatında və ya POS terminalda yaradılmış QR Code-un müştəri mobil əlavəsi vasitəsilə oxudulması yolu ilə;</p>
<p style="font-family:Arial;font-size:20px;">2. Müştəri mobil əlavəsində yaradılmış QR Code-un nəzarət kassa aparatına inteqrasiya olunmuş xüsusi cihaz vasitəsilə oxudulması yolu ilə.</p>
<p style="font-family:Arial;font-size:20px;">Funksionallığın tətbiqi üzrə daha geniş məlumat ilə İştirakçı təşkilatlara təqdim olunmuş aşağıdakı sənəddən tanış olmaq olar:</p>
        <p style="font-family:Arial;font-size:20px;"> “IPS-P FS Business process flows overview for CPC”
</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
			
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="font-family:Arial;font-size:20px;color:#0E7EE1;">Sistemdə tətbiq edilən QR code-lar hem statik, həm də dİnamik olacaq?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p style="font-family:Arial;font-size:20px;">Sistemdə həm statik, həm də dinamik QR Code-lardan istifadə olunması nəzərdə tutulmuşdur. QR Code üzrə Milli standartların ilkin variantı Mərkəzi Bank tərəfindən hazırlanmış və müvafiq internet resursunda (www.cbar.az/page-55/azrbaycan-uzr-qr-code-standarti) diqqətinizə təqdim olunmuşdur.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
	
		</ul> <!-- cd-faq__group -->
		
		
		
	</div> <!-- cd-faq__items -->

	<a href="#0" class="cd-faq__close-panel text--replace">Close</a>
  
  <div class="cd-faq__overlay" aria-hidden="true"></div>
</section> <!-- cd-faq -->
<script src="assets/js/util.js"></script> <!-- util functions included in the CodyHouse framework -->
<script src="assets/js/main.js"></script> 
</body>
</html>
